*{
    padding: 0px;
    margin: 0px;
    background-color: bisque;
}
.asd{
    font-size: 30px;
    background-color: blue;
    padding: 35px;
    margin: 20px;
    text-align: center;

}
.asdd{
    width: 60%;
    margin: auto;
}
.asdd, h3{
    text-align: center;
    text-transform: capitalize;
    color: darkgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}